.logo {
  display: inline-flex;
  line-height: 0;
}

.logo__img {
  width: auto;
  height: 2.75rem;
}

@media (min-width: 64em) {
  .logo__img {
    height: 3.25rem;
  }
}

.logo__img--light {
  display: none;
}

.on-dark .logo__img--dark,
.is-overlay .logo__img--dark {
  display: none;
}

.on-dark .logo__img--light,
.is-overlay .logo__img--light {
  display: block;
}
